.titulo{
    display: flex;
    justify-content: center;
}



.row{
    display: flex;
    justify-content: space-between;
}


.trabajos {
    display: flex;
    justify-content: space-between;

}


.fila2{
    display: flex;
    justify-content: space-between;
}