

.info {
    display: flex;
    justify-content: center;
}

#nombre{
    display: flex;
    justify-content: center;
}

.imagen1{
 display: flex;
}


footer{
    background-color: rgb(127, 200, 255);
}

.correo{
    text-align: center;
}

.conctactame {
    text-align: center;
}